.git
.github
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.svg
*.jsonl
outputs/
tmp_pdf/
engine/.idea
engine/pulse.epf
engine-build/*
!engine-build/install/
engine-build/install/*
!engine-build/install/bin/
engine-build/install/bin/*
!engine-build/install/bin/states/
!engine-build/install/bin/states/**
