# Ignore Pulse Engine source + build outputs
engine/
engine-build/

# Ignore Python virtual environment
.venv/
.venv311/
.venv312/
venv/
.vscode/
.egg-info
*.egg-info/
# Generated trajectory/demo artifacts
pulse_physiology_env/artifacts/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code / Visual Studio
.vs/
*.user
*.suo
